@import './base.css';

html {
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

 

  background: rgb(249, 236, 222);
  background: radial-gradient(circle, rgb(251, 194, 235) 0%, rgb(166, 193, 238) 78%);
}

body.lock-scroll {
  overflow: hidden;
}
#app{
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto; 
}


/*#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}*/

/*
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
*/
